body {
    font-family: Arial;
    margin: 20px;
    background: #f5f5f5;
}

h1, h2 {
    color: #222;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: blue;
}

.event-card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

.gallery img {
    margin-right: 10px;
    border-radius: 10px;
}

form input, form textarea {
    display: block;
    width: 300px;
    margin-bottom: 10px;
}
